beautifulsoup4==4.12.3
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Cors==5.0.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.1
packaging==24.2
peewee==3.17.7
peewee-migrate==1.13.0
soupsieve==2.6
types-beautifulsoup4==4.12.0.20241020
types-click==7.1.8
types-Flask==1.1.6
types-html5lib==1.1.11.20241018
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-peewee==3.17.7.20241017
types-Werkzeug==1.0.9
Werkzeug==2.3.8