body {
    font-family: 'Playfair Display', serif;
    background-color: #f8f9fa;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, li, button {
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 1.2rem;
}

.btn {
    font-size: 1rem;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.nav-item:hover {
    background-color: #333333; /* Un poco más claro que #000000 */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Reducir tamaño de los encabezados en dispositivos móviles */
    }
    p {
        font-size: 1rem; /* Ajustar el tamaño del texto en dispositivos pequeños */
    }
}

.btn:hover {
    background-color: #0056b3; /* Cambiar a un color más destacado */
    color: #ffffff; /* Asegurarse de que el texto sea visible */
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem; /* Agregar espacio entre los párrafos */
}

img {
    max-width: 100%;
    height: auto; /* Mantener las proporciones de las imágenes */
}

.card-title {
    font-size: 1.5rem;
    color: #333;
}
.card-text {
    font-size: 1rem;
    line-height: 1.5;
}
.text-danger {
    color: red;
    font-weight: bold;
}

ion-icon {
    font-size: 20px;
    color: #0056b3;
  }

  @media print {
    header {
        margin-bottom: 0; /* Reduce el espacio debajo del encabezado */
      }
      main {
        margin-top: 0; /* Reduce el espacio encima del contenido principal */
      }
      .container {
        padding-top: 0; /* Asegura que no haya padding adicional */
      }

    button {
        display: none;
    }
}