<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio::Las recetas de mi abuela</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="../content/abuela_cocina.ico">
</head>
<body>

    <!-- Header -->
    <header class="text-center py-5">
        <img src="../content/abuela_cocina.png" alt="Logo de Las recetas de mi abuela" width="210" aria-label="Logo de Las recetas de mi abuela">
        <h1 class="mt-3">Las recetas de mi abuela</h1>
    </header>

    <!-- Descripción -->
    <main class="container text-center mb-5">
        <p>Este sistema está diseñado para generar y consultar recetas. Todas las recetas estarán almacenadas en una base de datos a la cual podrás acceder fácilmente.</p>
        <p>Aquí podrás cargar nuevas recetas y consultar las ya existentes, ¡todo con un solo clic!</p>

        <!-- Botones -->
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-3 col-6 mb-2">
                <a href="Carga_de_receta.html" class="btn btn-primary w-100" aria-label="Enlace para cargar nueva receta">Cargar receta</a>
            </div>
            
            <div class="col-md-3 col-6">
                <a href="Consultar_recetas.html" class="btn btn-secondary w-100" aria-label="Botón para consultar receta existente">Consultar receta</a>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="text-center py-4">
        <p>&copy; 2024 Gastón Ariel Perrone</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>